@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: linear-gradient(0deg, #2b86e0, #2b88f0);
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
  color: #fff;
}

.counter {
  font-size: 60px;
  margin: 10px 0;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
